// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// global styles
.logoutbt {
    position: absolute;
    bottom: 0;
}

.user-profile {
    .user-avatar {
      width: 60px;
      height: 60px;
      overflow: hidden;
      display: block;
      border: 0;
      border-radius: 50%;
      box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45); 

        .avatar {
          width: 60px;
          height: 60px;
          margin: 0px auto 0;
          border-radius: 50%;
          background-size: 100%;
          background-position-y: 0px;
      }
    }

    .toolbar-background {
      /* background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary)); */
    }
  
    .other-data {
      .column {
        &:first-child {
          border-right: 1px solid rgba(36, 50, 157, .25);
        }
      }
    }
  }
  
  .user-list {
    .item {
      &:last-child {
        border-bottom: 0;
      }
      .item-inner {
        border-color: rgba(86, 61, 124, .1);
      }
    }
  }

  .other-data {
    .column {
      &:first-child {
        border-right: 1px solid rgba(36, 50, 157, .25);
      }
    }
  }
  .no-margin {
    margin: 0;
    font-size: 1.3em;
  }
